spring.profiles.active: dev

---

spring:
  config:
    activate:
      on-profile: dev
  datasource:
#    url: jdbc:mysql://localhost:3306/notepad
    url: jdbc:sqlserver://notepadrjqm.database.windows.net:1433;database=notepad;
    username: rquispem
    password: Harl250189!
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    testWhileIdle: true
    validationQuery: SELECT 1
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
#        dialect: org.hibernate.dialect.MySQLDialect
        dialect: org.hibernate.dialect.SQLServerDialect
  thymeleaf:
    mode: HTML
    cache: false
  messages:
    cache-seconds: 0

flyway.enabled: true
endpoints.sensitive: false

---

test_mysql_host: ${ENV_TEST_MYSQL_HOST:localhost}

spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:mysql://${test_mysql_host}:3306/notepad
    username: root
    password: root
    testWhileIdle: true
    validationQuery: SELECT 1
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

flyway.enabled: true
endpoints.sensitive: false

---

spring:
  config:
    activate:
      on-profile: testing
  datasource:
    url: ${testing_datasource_url}
    username: ${testing_datasource_username}
    password: ${testing_datasource_password}
    testWhileIdle: true
    validationQuery: SELECT 1
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

flyway.enabled: true
endpoints.sensitive: false
logging.config: /etc/notepad/logback-spring.xml

---

spring:
  config:
    activate:
      on-profile: staging
  datasource:
    url: ${staging_datasource_url}
    username: ${staging_datasource_username}
    password: ${staging_datasource_password}
    testWhileIdle: true
    validationQuery: SELECT 1
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
#        dialect: org.hibernate.dialect.MySQLDialect
        dialect: org.hibernate.dialect.SQLServerDialect

flyway.enabled: true
endpoints.sensitive: false
logging.config: /etc/notepad/logback-spring.xml

---

spring:
  config:
    activate:
      on-profile: production
  datasource:
    url: ${production_datasource_url}
    username: ${production_datasource_username}
    password: ${production_datasource_password}
    testWhileIdle: true
    validationQuery: SELECT 1
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
#        dialect: org.hibernate.dialect.MySQLDialect
        dialect: org.hibernate.dialect.SQLServerDialect

flyway.enabled: true
endpoints.sensitive: false
logging.config: /etc/notepad/logback-spring.xml
